@import "../../styles/lib.scss";

.DailyRow {
    display: grid;
    grid-template-columns: 100px 100px 100px 50px 1fr 1fr;
    grid-template-rows: repeat(6 1fr);
    // border: 1px solid grey;
    padding: 0.7em;
}
span.high {
    font-weight: bold;
    font-size: 1.3em;
    color: cornflowerblue;
}

span.low {
    font-weight: thin;
    font-size: 0.67em;
    color: #868686;
}